Options -MultiViews
DirectoryIndex index.html
RewriteEngine On

RewriteRule ^$ /bread [R=302,L]
RewriteRule ^(?:links|social)/?$ /social/links [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]